FitnessApp/android/capacitor.settings.gradle
FitnessApp/android/app/capacitor.build.gradle
FitnessApp/android/app/src/main/res/xml/config 2.xml
FitnessApp/ios/App/App/capacitor.config 3.json
FitnessApp/ios/App/App/config 4.xml
FitnessApp/ios/App/App/config 5.xml
FitnessApp/ios/App/App/config 6.xml
FitnessApp/ios/App/App/config 7.xml
FitnessApp/ios/App/App/config 8.xml
FitnessApp/ios/App/App/config 9.xml
FitnessApp/ios/App/App/config 10.xml
FitnessApp/ios/App/App/config 11.xml
FitnessApp/ios/App/App/config 12.xml
FitnessApp/ios/App/App/config 13.xml
