<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="start" color="primary" name="filter"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-recipe-card
  *ngFor="let element of recipeList"
  [recipe]="element"
  (onPicture)="navigateToChild(element)"
  (onFavourite)="onFavourite(element)"
  (onEat)="onEat(element)"></app-recipe-card>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more recipes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
