<ion-header>
  <ion-toolbar>
    <ion-title>Welcome !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <h1>
    Progress

    <ion-button class="ion-float-right" size="small" fill="clear">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>
  </h1>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <p>
              Remain: <br>
              <b>{{calorieNeed - actualCalories | number: '1.0-0'}} kcal</b>
            </p>
          </ion-col>
          <ion-col>
            <ngx-gauge
            class="ion-float-center"
            style="margin-left: auto; margin-right: auto;"
            type="arch"
            size="150"
            cap="round"
            thick="15"
            label="Calories"
            [thresholds]="thresholdConfig"
            [append]="gauge.append"
            [max]="gauge.max"
            [value]="actualCalories"></ngx-gauge>
          </ion-col>
          <ion-col>
            <p>
              Max: <br>
              <b>{{calorieNeed | number: '1.0-0'}} kcal</b>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>PROTEIN</b>
          </ion-col>
          <ion-col>
            <b>CARBS</b>
          </ion-col>
          <ion-col>
            <b>FAT</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{actualNutrients.protein}}/{{nutrientNeeds.protein | number: '1.0-0'}} g
          </ion-col>
          <ion-col>
            {{actualNutrients.carbohydrates}}/{{nutrientNeeds.carbohydrates | number: '1.0-0'}} g
          </ion-col>
          <ion-col>
            {{actualNutrients.fat}}/{{nutrientNeeds.fat | number: '1.0-0'}} g
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <h1>Statistics</h1>

  <!--Weight Chart-->
  <app-weight-chart></app-weight-chart>

  <ion-modal trigger="open-update-current-weight" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelUpdate()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Update your weight</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmUpdate()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Update your current weight:</ion-label>
          <ion-input type="number" placeholder="Your current weight" [(ngModel)]="personalGoals.currentWeight"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="open-update-current-weight" expand="block">
    <ion-icon name="pencil"></ion-icon>
    Update your weight
  </ion-button>
  </ion-toolbar>
</ion-footer>
