
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add new recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>
    Recipe
  </h2>

  <ion-item>
    <ion-input type="text" placeholder="Recipe name..." [(ngModel)]="newRecipe.name"></ion-input>
  </ion-item>

  <div class="horizontal-scroll">
    Category:
    <ion-chip
      *ngFor="let chip of chipData"
      color="primary"
      [outline]="chip !== newRecipe.category"
      (click)="newRecipe.category = chip">
      <ion-label>{{chip}}</ion-label>
    </ion-chip>
  </div>

  <!--Picture container-->
  <div>
      <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Image of food">

      <ion-fab-button *ngIf="!selectedImageUrl"
      class="ion-float-center"
      style="margin-left: auto; margin-right: auto;"
      (click)="selectAndUploadImage()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="selectedImageUrl"
      color="danger"
      class="ion-float-center"
      style="margin-left: auto; margin-right: auto;"
      (click)="deleteImage()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
  </div>

  <!--Ingredients container-->
  <div>
    <h2>
      Ingredients
    </h2>

    <ion-grid fixed>
      <ion-row *ngFor="let ingredient of newRecipe.ingredientList">
        <ion-col size="8">
          <mat-form-field style="width: 100%;" md-light>
            <mat-label>Ingredient</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" (keyup)="getIngredienSuggestions($event)">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText" (optionSelected)="selectOption($event, ingredient)">
              <mat-option *ngFor="let option of autocompleteSuggestions" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
        <ion-col size="3">
          <mat-form-field style="width: 100%;">
            <input type="number" matInput placeholder="0" [(ngModel)]="ingredient.serving_size" (change)="onServingSizeChange()">
            <span matTextSuffix style="color: black;" >{{ingredient.unit}}</span>
          </mat-form-field>
        </ion-col>
        <ion-col size="1">
          <button mat-icon-button (click)="deleteIngredientInput(ingredient.localId)">
            <mat-icon color="warn" fontIcon="delete"></mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-fab-button
      class="ion-float-center"
      style="margin-left: auto; margin-right: auto;"
      (click)="addIngredientInput()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    Calories: {{calories | number: '1.0-2'}} kcal<br>
    protein: {{protein | number: '1.0-2'}} g<br>
    Carbohydrate:{{carbohydrates | number: '1.0-2'}} g<br>
    Fat: {{total_fat | number: '1.0-2'}} g<br>
  </div>

  <!--How to make container-->
  <div>
    <h2>
      How to make
    </h2>

    <ion-item>
      <ion-textarea placeholder="Stir up the eggs..." [autoGrow]="true" [(ngModel)]="newRecipe.howToMake"></ion-textarea>
    </ion-item>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onUploadRecipe()" expand="block">
      <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      Upload recipe
    </ion-button>
  </ion-toolbar>
</ion-footer>
