<div class="ion-text-center">
  <h1 color="primary">
    What is your goal?
  </h1>

  <ion-list>
    <ion-item>
      <ion-item>
        <ion-label>
          Select your goal:
        </ion-label>
        <ion-select 
          interface="action-sheet" 
          placeholder="Select your goal"
          (ionChange)="handleChange($event)"  
        >
          <ion-select-option value="lose-weight">Lose weight</ion-select-option>
          <ion-select-option value="maintain-weight">Maintain</ion-select-option>
          <ion-select-option value="gain-weight">Gain weight</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
  </ion-list>
</div>
