<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <lottie-player id="hello-animation" src="https://assets3.lottiefiles.com/packages/lf20_3vbOcw.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
  
  <!--If user is NOT logged in, this  swiper will appear-->
  <swiper *ngIf="!loggedIn"
    (config)="swiperConfig"
    [allowTouchMove]="false"
    #swiper
  >
    <ng-template swiperSlide>
      <app-first-slide
        [(name)]="userData.name"
        [(email)]="userData.emailAdress"
        [(password)]="userData.password"
        [(passwordAgain)]="userData.passwordAgain"
      ></app-first-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-second-slide 
        [(goal)]="personalGoals.goal"
      ></app-second-slide>
    </ng-template>
    
    <ng-template swiperSlide>
      <app-third-slide
        [(gender)]="personalGoals.gender"
      ></app-third-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-fourth-slide
        [(birthDate)]="personalGoals.birthDate"
      ></app-fourth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-fifth-slide
      [(height)]="personalGoals.height"
      ></app-fifth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-sixth-slide
        [(weight)]="personalGoals.currentWeight"
      ></app-sixth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-seventh-slide
      [(weight)]="personalGoals.goalWeight"
      ></app-seventh-slide>
    </ng-template>

  </swiper>

  <!--If user is logged in, this  swiper will appear-->
  <swiper *ngIf="loggedIn"
    (config)="swiperConfig"
    [allowTouchMove]="false"
    #swiper
  >
    <ng-template swiperSlide>
      <app-second-slide
        [(goal)]="personalGoals.goal"
      ></app-second-slide>
    </ng-template>
    
    <ng-template swiperSlide>
      <app-third-slide
        [(gender)]="personalGoals.gender"
      ></app-third-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-fourth-slide
        [(birthDate)]="personalGoals.birthDate"
      ></app-fourth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-fifth-slide
        [(height)]="personalGoals.height"
      ></app-fifth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-sixth-slide
        [(weight)]="personalGoals.currentWeight"
      ></app-sixth-slide>
    </ng-template>

    <ng-template swiperSlide>
      <app-seventh-slide
        [(weight)]="personalGoals.goalWeight"
      ></app-seventh-slide>
    </ng-template>

  </swiper>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block" (click)="slidePrev()">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            Previous
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="slideNext()">
            Next
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>